.title {
  font-size: 1rem;
}

.firstInfo {
  border-bottom: 2px solid rgb(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  height: 2em;
}

.firstInfo span {
  color: #a9a9a9;
  margin-right: 0.4em;
}

.thumbs {
  cursor: pointer;
  color: #a9a9a9;
}

.thumbs span {
  margin-left: 8px;
}

.playCounts,
.publishedDate {
}

.secondInfo {
  border-bottom: 2px solid rgb(255, 255, 255, 0.2);
  /* height: 266px;
  overflow: hidden; */
}

.channel {
  display: flex;
  margin: 0.8em 0;
  align-items: center;
}

.channelThumbnail {
  width: 36px;
  height: 36px;
  border-radius: 45px;
  margin-right: 8px;
}

.channelTitle {
  font-weight: 600;
}

.description {
  white-space: pre-wrap;
  height: 150px;
  overflow: hidden;
}

.description.expand {
  height: 100%;
}

.button {
  color: #a9a9a9;
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
  margin: 15px 0;
}

.button:hover {
  cursor: pointer;
}

@media screen and (max-width: 48rem) {
  .firstInfo {
    font-size: 3.9vw;
  }
}
