.detail {
  padding: 0.2em;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  font-size: 1rem;
}

.firstInfo {
  border-bottom: 2px solid rgb(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  height: 2em;
}

.firstInfo span {
  color: #a9a9a9;
  margin-right: 0.4em;
}

.thumbs {
  cursor: pointer;
  color: #a9a9a9;
}

.thumbs span {
  margin-left: 8px;
}

.playCounts,
.publishedDate {
}

.secondInfo {
  border-bottom: 2px solid rgb(255, 255, 255, 0.2);
  /* height: 266px;
  overflow: hidden; */
}

.description {
  white-space: pre-wrap;
  height: 150px;
  overflow: hidden;
}

.description.expand {
  height: 100%;
}

.button {
  color: #a9a9a9;
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
  margin: 15px 0;
}

.button:hover {
  cursor: pointer;
}

@media screen and (max-width: 48rem) {
  .firstInfo {
    font-size: 3.9vw;
  }
}
