.app {
  /* max-width: 80rem; */
  background-color: #000000;
  color: #ffffff;
}

.videoDetail {
  padding: 0.2em;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: sticky;
  top: 0;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  display: flex;
  padding: 0 1em;
}

.detail {
  flex: 1 1 70%;
  padding-right: 1vw;
  padding-top: 0.7em;
}

.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 48rem) {
  .content {
    flex-direction: column;
  }

  .detail {
    padding-right: 0;
  }
}
